## Łukasz Kochańczyk, gr. 5
#### Lab5 Tier Protocol i Tidy Data

In [249]:
import pandas as pd
import re

N = len('Kochańczyk')
print(f'Do analizy danych mam zbiór nr: {N % 5 + 1}')

Do analizy danych mam zbiór nr: 1

##### Wczytanie pliku tekstowego oraz rozdzielenie danych na odpowiednie kolumny:

In [250]:
# Wczytanie pliku tekstowego
path = '../Original Data/weather.txt'
with open(path) as f:
    data_from_file = f.readlines()

regex = re.compile('(\s+I|S|OI|OS|\s+SI)')
data = []

# Obróbka danych
for record in data_from_file:
    record = regex.sub(" ", record)
    data_in_first_item = ["MX17004", record[11:15], record[15:17], record[17:21]]
    days = record[21:]
    days = ['---' if temperature == '9999' else float(temperature) for temperature in re.findall('[0-9]+', days)]
    data.append(data_in_first_item + days)

# Wczytanie danych do pandas oraz zadeklarowanie nazw kolumn
df = pd.DataFrame(data)
df.columns = ["id", "year", "month", "type"] + [f'd{i}' for i in range(1, 32)]
df

,id,year,month,type,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,1955,04,TMAX,310.0,310.0,310.0,320.0,330.0,320.0,...,330.0,330.0,330.0,330.0,330.0,330.0,340.0,330.0,320.0,---
1,MX17004,1955,04,TMIN,150.0,150.0,160.0,150.0,160.0,160.0,...,170.0,170.0,170.0,180.0,190.0,190.0,170.0,180.0,160.0,---
2,MX17004,1955,04,PRCP,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,---
3,MX17004,1955,05,TMAX,310.0,310.0,310.0,300.0,300.0,300.0,...,330.0,340.0,350.0,330.0,310.0,310.0,320.0,310.0,300.0,290.0
4,MX17004,1955,05,TMIN,200.0,160.0,160.0,150.0,150.0,150.0,...,170.0,190.0,190.0,190.0,180.0,160.0,150.0,170.0,150.0,160.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1709,MX17004,2011,03,TMIN,---,---,---,---,148.0,---,...,---,---,---,---,162.0,---,---,---,---,170.0
1710,MX17004,2011,03,PRCP,0.0,---,0.0,0.0,0.0,---,...,0.0,---,0.0,---,0.0,---,---,0.0,---,0.0
1711,MX17004,2011,04,TMAX,---,350.0,---,---,---,---,...,---,---,---,---,---,---,---,---,---,---
1712,MX17004,2011,04,TMIN,---,168.0,---,---,---,---,...,---,---,---,---,---,---,---,---,---,---
1713,MX17004,2011,04,PRCP,0.0,0.0,---,---,0.0,0.0,...,---,---,---,---,---,---,---,---,---,---

##### Wyświetlenie danych z pierwszych 5 miesięcy 2010 roku:

In [251]:
# Pomocnicza funkcja która wybiera odpowiednie rekodry z danego roku z pierwszymi N miesiącami
def select_year_till_month(year: str, last_month: int, df: pd.DataFrame):
    for index, row in df.iterrows():
        if row['year'] != year or float(row['month']) > last_month or row['type'] == 'PRCP':
            df.drop(index, axis=0, inplace=True)
    return df

df = select_year_till_month('2010', 5, df)
df

,id,year,month,type,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
1668,MX17004,2010,01,TMAX,---,---,---,---,---,---,...,---,---,---,---,---,---,---,---,278.0,---
1669,MX17004,2010,01,TMIN,---,---,---,---,---,---,...,---,---,---,---,---,---,---,---,145.0,---
1671,MX17004,2010,02,TMAX,---,273.0,241.0,---,---,---,...,---,299.0,---,---,---,---,---,---,---,---
1672,MX17004,2010,02,TMIN,---,144.0,144.0,---,---,---,...,---,107.0,---,---,---,---,---,---,---,---
1674,MX17004,2010,03,TMAX,---,---,---,---,321.0,---,...,---,---,---,---,---,---,---,---,---,---
1675,MX17004,2010,03,TMIN,---,---,---,---,142.0,---,...,---,---,---,---,---,---,---,---,---,---
1677,MX17004,2010,04,TMAX,---,---,---,---,---,---,...,---,---,---,---,---,363.0,---,---,---,---
1678,MX17004,2010,04,TMIN,---,---,---,---,---,---,...,---,---,---,---,---,167.0,---,---,---,---
1680,MX17004,2010,05,TMAX,---,---,---,---,---,---,...,---,---,---,---,---,332.0,---,---,---,---
1681,MX17004,2010,05,TMIN,---,---,---,---,---,---,...,---,---,---,---,---,182.0,---,---,---,---

##### Melt:

In [252]:
# Przygotowanie danych do nowego DataFrame
def melt_data(df: pd.DataFrame):
    melted_rows = []
    for _, row in df.iterrows():
        id, year, month, element = row['id'], row['year'], row['month'], row['type']
        for d in range(1, 32):
            if row[f'd{d}'] != '---':
                day = f'0{d}' if d < 10 else f'{d}'
                date = f'{year}-{month}-{day}'
                value = int(row[f'd{d}']) / 10
                melted_rows.append([id, date, element, value])

    # Sortowanie po dacie, żeby tmax tmin było na zmiane, ułatwi to ostatni krok
    melted_rows.sort(key=lambda x: x[1])
    melted_df = pd.DataFrame(melted_rows, columns=['id', 'date', 'element', 'value'])
    return melted_df

df = melt_data(df)
df

         id        date element  value
0   MX17004  2010-01-30    TMAX   27.8
1   MX17004  2010-01-30    TMIN   14.5
2   MX17004  2010-02-02    TMAX   27.3
3   MX17004  2010-02-02    TMIN   14.4
4   MX17004  2010-02-03    TMAX   24.1
5   MX17004  2010-02-03    TMIN   14.4
6   MX17004  2010-02-11    TMAX   29.7
7   MX17004  2010-02-11    TMIN   13.4
8   MX17004  2010-02-23    TMAX   29.9
9   MX17004  2010-02-23    TMIN   10.7
10  MX17004  2010-03-05    TMAX   32.1
11  MX17004  2010-03-05    TMIN   14.2
12  MX17004  2010-03-10    TMAX   34.5
13  MX17004  2010-03-10    TMIN   16.8
14  MX17004  2010-03-16    TMAX   31.1
15  MX17004  2010-03-16    TMIN   17.6
16  MX17004  2010-04-27    TMAX   36.3
17  MX17004  2010-04-27    TMIN   16.7
18  MX17004  2010-05-27    TMAX   33.2
19  MX17004  2010-05-27    TMIN   18.2

#### Tidy, ostateczne uporządkowanie danych:

In [253]:
def tidy_data(df: pd.DataFrame):
    tided_rows = []
    N = len(df.index)

    for i in range(0, N, 2):
        id = df['id'][i]
        date = df['date'][i]
        tmax = df['value'][i]
        tmin = df['value'][i+1]

        tided_rows.append([id, date, tmax, tmin])
        tided_df = pd.DataFrame(tided_rows, columns=['id', 'date', 'tmax', 'tmin'])

    return tided_df

df = tidy_data(df)
df

        id        date  tmax  tmin
0  MX17004  2010-01-30  27.8  14.5
1  MX17004  2010-02-02  27.3  14.4
2  MX17004  2010-02-03  24.1  14.4
3  MX17004  2010-02-11  29.7  13.4
4  MX17004  2010-02-23  29.9  10.7
5  MX17004  2010-03-05  32.1  14.2
6  MX17004  2010-03-10  34.5  16.8
7  MX17004  2010-03-16  31.1  17.6
8  MX17004  2010-04-27  36.3  16.7
9  MX17004  2010-05-27  33.2  18.2

#### Zapisanie danych do folderu Analysis Data

In [262]:
path = '../Analysis Data/weather_result.csv'
df.to_csv(path, index=False)